<style>
.txtusu{
    position: relative;
    left:300px;
    top:100px;
  }
  #listado{
      position: relative;
      left: 150px;
      top:45px;
    }
    .btnlistar{
      width: 225px;
    background-color: #1612e9;
    align-content: center;
    }

    .combo{
    width:30%;
    margin:auto; 
    border:1px 
    solid #7C7A7A; 
    height:40%; 
    text-align:center; 
    padding:10px; 
    background-color: rgb(41, 145, 243);
    font-family:"Segoe", "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    box-shadow: black 5px 5px 4px 2px;
    border-radius: 10px;
    color:white;
    }
    .navigator{
    color:white;
    width: 100%;
    max-width: 1080px;
    padding: 0.5%;
    text-shadow:  rgb(17, 8, 15) 2px 2px 5px;
    
    }
    .navigator ul{
        list-style:none;
        
    }
    .menu_celda{
        background-color: #1612e9;
        padding: 40%;
        border-radius: 30% 0% 30% 0%;
        box-shadow: black 2px 2px 5px;
        margin-top:-200px;
    } 
    .navigator .submenu {
        background-color: rgb(228, 228, 228);
        text-align: center;
        line-height: 230%;
        margin: 0;
        padding:0;
        width:150px;
    }


    .menu{
        font-family: 'Oxygen', sans-serif;
        font-size:1rem ;
        letter-spacing: 2.1px;
        word-spacing:20px;
        padding: 6px 10px;
        margin: auto ;
        text-align: center;
        width:100%;
        max-width: 1100px;
    }
    .submenu{
        z-index: 30;
        position: fixed;
        text-align: center;
       
         
     }

    .menu > li > a{
      text-decoration: none;
      color:rgb(250, 250, 250);
      padding: 8.1px;
        display: block;
        margin: auto;
    }

    .menu >li{
      display: inline-block;
        text-align: center;
        position:relative;
    }

    .menu li a:hover{
        background: #e0de40;
        color:rgb(53, 48, 48);
        transition: all 2s;
        text-align: center;
    }
    .submenu {
        position: absolute;
        
        display:none;
    }

    .navigator ul .submenu li a {
        margin: auto;
        
    }

    .submenu li a {
        display:block;
        margin: auto;
        color:white;
        font-family: 'Oxygen', sans-serif;
        text-decoration:none;
        font-size: 0.7rem;
        text-align: center;
    }
    .menu li:hover.submenu{
        display:block;
        
    }

    .menu li:hover .submenu{
    display: block;
    }
    #entrada{
      margin-top:-100px;
    }
    #txtEnter{
      margin-top:-60px;
    }
    #btn-vehiculo{
      margin-top:-310px;
    }
    #pie{
      margin-top:400px;
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .form-pat {
      text-align: center;
      margin: 0 auto;
      width: 80%;
    }
    .form-group2,#ticketver {
      color:red;
      font-border:black 2px;
      width: 150px;

    }
    .form-group1{
      color:green;
    }
    .btn_send{
      background-color: cyan;
    }
  button
     {
    color: white;
    font-size:15pt ;
    border-radius: 5px;
    margin: 8px 8px;
    cursor: pointer;
    padding:5px;
    box-shadow: 0px 3px 3px  #fff;
}
#btnregistrar,#btncancelar{
    width: 225px;
    background-color: #1612e9;
}
#btnregistrar1 {
    outline: none;
    text-decoration: none;
    width:300px;
    background-color: #1612e9;
    color: rgb(247, 38, 38);
    height: 50px;
    font-size:15pt ;
    border-radius: 5px;
    margin: 15px 15px;
    cursor: pointer;
    padding:10px;
    box-shadow: 0px 3px 3px  #fff;
    position: relative;
    left:20px;
    top:14px;
    font-family:'Oxygen', sans-serif;
    font-size: 1.2rem ;
    text-align: center;
    color: white;
    border-radius: 10px;
    line-height: 35px;
    letter-spacing: 1px;
}
 
    .my-0-font-weight-normal{
    background-color: #1612e9;
    color: rgb(247, 38, 38);
    height: 30px;
    font-size:15pt ;
    border-radius: 5px;
    margin: 8px 8px;
    cursor: pointer;
    padding:5px;
    box-shadow: 0px 3px 3px  #fff;
    }

    #body{
      background-color: rgb(228, 228, 228);
    }

   #tablestop{
      padding:10px;
      color:rgb(2, 8, 100);
      position: relative;
      box-shadow: black 1px 1px 4px 4px;
      right:-100px;
      border-collapse: collapse;
      text-align: center;
      font-size: 0.8rem;
      width: 500px;
      top:100px;
    }

    .tablestop2{
      padding:5px;
      color:rgb(2, 8, 100);
      box-shadow: black 1px 1px 4px 4px;
      text-align: center;
      border-collapse: collapse;
      font-size: 0.7rem;
    }
    
    #pres{
    font-family:'Oxygen', sans-serif;
    font-size: 1rem ;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-width: 20px;
    line-height: 35px;
    text-shadow:5px 5px 5px rgb(134, 201, 240) ;
    letter-spacing: 1px;
    background-color: rgb(41, 145, 243);
    }

    .display-4{
      font-size: 2.5rem;
      font-family:'Oxygen', sans-serif;
      position: relative;
      top:-30px;
    }

    #lead{
      position: relative;
      top:-45px;
    }

    .card-body{
      height: 10px;
    }

    .card-title-pricing-card-title{
      font-size:2rem;
      position: relative;
      top:-19px;
    }

    .row {
      position: relative;
      top:20px;
    }

    #precio{
      position: relative;
      top:80px;
      width: 320px;
      left:80px;
    }

    #ticketver{
      box-shadow: black 1px 1px 4px 2px;
      padding: 0px 3px 5px 5px;
      width: 300px;
      position: relative;
      right:-72px;
      top:20px;
    }


      tbody tr:nth-child(odd) {
      background-color: #ff33cc;
    }

      tbody tr:nth-child(even) {
      background-color: #e495e4;
    }

    #desca{
      width: 350px;
      position: relative;
      right:-500px;
      top:80px;
      height: 160px;
      font-size: 1rem ;
      }

    #textprice{
      position: relative;
      top:-250px;
    }

    #texttable{
      position: relative;
      top:-250px;
    }
    #desca2{
      width: 350px;
      position: relative;
      right:-500px;
      top:80px;
      height: 160px;
      font-size: 1rem ;
    }
    
  </style>