 <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
        background-color:  rgb(212, 230, 241);
      }
      #botonVolver {
        color:  White;
      }
      #dos {
      	position: relative;
      	top:5px;
        background-color:  rgb(63, 210, 236);
      }      
      #img{
      	position: relative;
      	top:100px;
      	left:60px;
      }
      #colorDeFondo {
        background-color:  rgb(41, 145, 243);
      }
      #botonVolver {
        color:white;
        width: 225px;
        background-color: #1612e9;
        align-content: center;
        font-family:'Oxygen', sans-serif;
    font-size: 1rem ;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-width: 20px;
    line-height: 35px;
    text-shadow:5px 5px 5px rgb(134, 201, 240) ;
    letter-spacing: 1px;
    background-color: rgb(41, 145, 243);
    padding: 10px;
    position: relative;
    left:1100px;
    top:-5px;
      }

      #dos {
        background-color:  rgb(63, 210, 236); //41, 145, 243)
      }    
      tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #ff33cc;
  width: 600px;
}  
    
    </style>